<!-- carousel underneathe the navigation bar-->
<div class="animated bounceInDown">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- SLIDE -->
    <div class="item active">
            <img id="small" src="images/111a.png">
            <img id="big" src="images/222a.png" alt="Second slide">
            <img id="huge" src="images/333a.jpg" alt="Second slide">
          <div class="carousel-caption">
            <h1 id="big">  Florida’s Resource for Academic Chairs and 
          	Administrators in the State University System</h1>
            <h1 id="huge">Florida’s Resource for Academic Chairs and 
        	Administrators in the State University System</h1>
            <p>Zero Heading subheads</p>
          </div>
    </div>  
    <!-- SLIDE -->
    <div class="item">
        <img id="small" src="images/111b.png">
        <img id="big" src="images/222b.png" alt="Second slide">
        <img id="huge" src="images/333b.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h1 id="big">First Heading</h1>
        <h1 id="huge">First Heading</h1>
        <p>First Heading subheads</p>
      </div>
    </div>
    <!-- SLIDE -->
    <div class="item">
        <img id="small" src="images/111c.png">
        <img id="big" src="images/222c.png" alt="Second slide">
        <img id="huge" src="images/333c.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h1 id="big">Second Heading</h1>
        <h1 id="huge">Second Heading</h1>
        <p>Second Heading subheads</p>
      </div>
    </div>
    <!-- SLIDE -->
    <div class="item">
        <img id="small" src="images/111d.png">
        <img id="big" src="images/222d.png" alt="Second slide">
        <img id="huge" src="images/333d.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h1 id="big">Third Heading</h1>
        <h1 id="huge">Third Heading</h1>
        <p>Third Heading subheads</p>
      </div>
    </div>
</div>
<!--End of carousel-->