		<!-- 
			This carousel example is created with jQuery and the carouFredSel-plugin.
			http://jquery.com
			http://caroufredsel.dev7studios.com
		-->
		<!--<script type="text/javascript">
			$(function() {
				var $carousel = $('#carousel');
				var $wrapper = $('#wrapper');
				var $window = $(window);

				$window.resize(function() {
					$wrapper.height( $window.height() * 0.75 );
					$carousel.height( $window.height() * 0.5 );
				}).resize();

				$carousel.carouFredSel({
					width: '100%',
					scroll: 1,
					items: {
						visible: 'odd+2',
						start: -1,
						width: 'variable',
						height: 'variable'
					}
				});
			});
		</script>-->
		<div id="wrapper">
			<div id="carousel">
				<img src="images/img/stan.jpg" width="700" height="525" />
				<img src="images/img/francine.jpg" width="700" height="525" />
				<img src="images/img/roger.jpg" width="700" height="525" />
				<img src="images/img/steve.jpg" width="700" height="525" />
				<img src="images/img/hayley.jpg" width="700" height="525" />
				<img src="images/img/klaus.jpg" width="700" height="525" />
			</div>
		</div>