

<footer>
	<div id="footer_columns">
	    <h1>About the Institute for Academic Leadership</h1>
		<div id="about1">
	<p>Dr. Allan Tucker established the Institute for Academic Leadership at Florida State University in 1978 with a $500,000 grant from the Kellogg Foundation. In 1981, when the Kellogg grant expired, the State University System elected to support and continue the program. Dr. Lawrence G. Abele serves as Director of the Institute. The Department Chairpersons Workshop consists of two sessions, one during the fall term and one during the spring term. Participants are primarily new chairs; however, experienced chairs are also included. Different topics are covered at each session and sessions can be attended in any order. Each participant is nominated by his or her dean and provost.</p>
		</div>
		<div id="about2">
		  <p>The format of the workshop includes presentations on topics relevant to academic management followed by small discussion groups. One of the major benefits of the workshop is the opportunity for interaction among colleagues. Workshop topics include the power and authority of a chair; procedures for recruiting, employing, and retaining faculty; legal implications of being a department chair; professional growth and faculty development; decision making; bringing about change; maintaining morale; curriculum planning; and departmental budgeting. The State University System funds this program; therefore, there is no cost to the participant or department. The Institute acknowledges the assistance and dedication of volunteers in the preparation of the annual workshops.</p>
		</div>
		<div id="contact">
			<h2>Contact</h2>
				<p>Anne Blankenship, Program Director<br>
				(850) 443-6458<br>
				<strong><a href="mailto:ablankenship@fsu.edu">ablankenship&commat;fsu.edu</a></strong></p>
				<p>Larry Abele, Director<br>
				(850) 591-0358<br>
				<strong><a href="mailto:labele@fsu.edu">labele&commat;fsu.edu</a></strong></p>
				<p>116 Westcott Building<br>
				Florida State University<br>
				Tallahassee, FL 32306<br>
				116-F Wescott Building<br>
				(850) 443-6458&nbsp;</p>
		</div>
	</div>
	<div id="copyright">
	    <img src="images/footer_underline_@2x.png"></img>
	    <p>The Institute for Academic Leadership is an equal opportunity employer. For information, view <a href="http://compliance.hr.fsu.edu/">Office of Equal Opportunity and Compliance</a>. &copy;2015 Florida State University</p>
	</div>
</footer>
